@model IEnumerable<IsabellaBirdBlog.Models.Location>

@{
    ViewData["Title"] = "Isabella Bird Blog - New Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Locations</h2>
<ul>
    @foreach (var listLocation in Model)
    {
        <li>@Html.DisplayFor(modelLocation => listLocation.LocationName)</li>
    }
</ul>

@Html.ActionLink("Add new Location", "Create")
