@model IEnumerable<IsabellaBirdBlog.Models.Location>
 
<html>
<head>
    <title>Locations</title>
</head>
<body>
    <h2>Locations</h2>
    <h4>@Html.DisplayNameFor(model => model.LocationName)</h4>
    <ul>
        @foreach (var listLocation in Model)
        {
            <li>@Html.DisplayFor(modelLocation => listLocation.LocationName)</li>
        }
    </ul>
</body>
</html>